body {
  margin-top: 100px;
}

.title {
  font-weight: bold;
}

form {
  margin: auto;
  font-size: 1.5em;
}

#calculator {
  margin: 0px 0px;
  height: 500px;
}

#solve {
  margin: 10px 0px;
  height: 80px;
  font-size: 1.1em;
}

.input {
  font-size: 1.5em;
}

.title-link {
  color: black;
  position: relative;
  color: #000;
  text-decoration: none;
}

.title-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.title-link:hover {
  color: #000;
}

.title-link:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
