html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 90px;
}

div#main-div {
  margin-top: 150px;
  margin-bottom: 0px;
}

#nav {
  display: none;
  text-align: right;
	position: fixed;
	top:0px;
	width:100%;
	height:60px;
	background-color:#f0f0f0;
	color: #FFFFFF;
	z-index:9999;
}

.title {
  font-weight: bold;
  margin-bottom: 4rem;
  font-size: 3.5em;
}

.tagline {
  margin-bottom: 4rem;
}


form {
  margin: auto;
  font-size: 1.5em;
}

#calculator {
  margin: 10px 0px 60px 0px;
  height: 0px;
}

#solve {
  margin: 30px 0px 10px 0px;
  height: 80px;
  font-size: 1.1em;
}

.input {
  font-size: 1.5em;
}

.title-link {
  color: black;
  position: relative;
  color: #000;
  text-decoration: none;
}

.title-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.title-link:hover {
  color: #000;
}

.title-link:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

header {
  text-align: right;
  margin-right: 20px;
  margin-top: 20px;
}

.nav-buttons {
  margin-top: 10px;
  margin-right: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px 0px;
  /*padding: 1rem;*/
  height: 30px;
  text-align: center;
  background-color: #f0f0f0;
}


/* spinner */
 /* https://github.com/tobiasahlin/SpinKit */
.spinner {
 width: 40px;
 height: 40px;
 background-color: #00CED1;
 position: absolute;
 z-index: 1;
 top: 111px;
 left: 45%;

 margin: 100px auto;
 -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
 animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
 0% { -webkit-transform: perspective(120px) }
 50% { -webkit-transform: perspective(120px) rotateY(180deg) }
 100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
 0% {
   transform: perspective(120px) rotateX(0deg) rotateY(0deg);
   -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
 } 50% {
   transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
   -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
 } 100% {
   transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
   -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
 }
}

.overlay {
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:#fff;
  opacity:0.4;
  z-index:1001;
 }

 ul.site-footer-links {
   margin-top: 20px;
   text-align: center;
    float: none;
    display: inline;
    padding: 20px;
 }

 li {
   margin-top: 20px;
   padding: 20px;
   display: inline;
 }


 a.header-links {
   text-decoration: none;
   color: #000;
 }

 button.header-buttons {
   margin-left: 10px;
 }

 input#register-button {
   margin-top: 20px;
   font-size: 20px;
   height: 60px;
 }
 input.register-input-username {
   /*font-size: 18px;*/
 }

 .beer-div {
   background-color: #f0f0f0;
   padding: 20px;
   margin-bottom: 30px;
 }
 .beer-div:hover {
   background-color: #EAF2F8;
 }

 .beer-title {
   margin-bottom: 0px;
 }

 .beer-name-title:before {
    height: 2px;
 }

.beer-details-p {
  font-size: 20px;
  margin: 10px 0px 0px 0px;
}
