html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 90px;
}

div#main-div {
  margin-top: 150px;
  margin-bottom: 0px;
}

#nav {
  display: none;
  text-align: right;
	position: fixed;
	top:0px;
	width:100%;
	height:60px;
	background-color:#f0f0f0;
	color: #FFFFFF;
	z-index:9999;
}

.title {
  font-weight: bold;
  margin-bottom: 4rem;
  font-size: 3.5em;
}

.tagline {
  margin-bottom: 4rem;
}


form {
  margin: auto;
  font-size: 1.5em;
}

#calculator {
  margin: 10px 0px 30px 0px;
  height: 0px;
}

#solve {
  margin: 30px 0px 10px 0px;
  height: 80px;
  font-size: 1.1em;
}

.input {
  font-size: 1.5em;
}

.title-link {
  color: black;
  position: relative;
  color: #000;
  text-decoration: none;
}

.title-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.title-link:hover {
  color: #000;
}

.title-link:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

header {
  text-align: right;
  margin-right: 20px;
  margin-top: 20px;
}

.nav-buttons {
  margin-top: 10px;
  margin-right: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px 0px;
  /*padding: 1rem;*/
  height: 30px;
  text-align: center;
  background-color: #f0f0f0;
}


/* spinner */
 /* https://github.com/tobiasahlin/SpinKit */
.spinner {
 width: 40px;
 height: 40px;
 background-color: #00CED1;
 position: absolute;
 z-index: 1;
 top: 111px;
 left: 45%;

 margin: 100px auto;
 -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
 animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
 0% { -webkit-transform: perspective(120px) }
 50% { -webkit-transform: perspective(120px) rotateY(180deg) }
 100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
 0% {
   transform: perspective(120px) rotateX(0deg) rotateY(0deg);
   -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
 } 50% {
   transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
   -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
 } 100% {
   transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
   -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
 }
}

.overlay {
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:#fff;
  opacity:0.4;
  z-index:1001;
 }

 ul.site-footer-links {
   margin-top: 20px;
   text-align: center;
    float: none;
    display: inline;
    padding: 20px;
 }

 li {
   margin-top: 20px;
   padding: 20px;
   display: inline;
 }


 a.header-links {
   text-decoration: none;
   color: #000;
 }

 button.header-buttons {
   margin-left: 10px;
 }

 input#register-button {
   margin-top: 20px;
   font-size: 20px;
   height: 60px;
 }
  input.register-input-username {
    /*font-size: 18px;*/
  }

  .beer-div {
    padding: 20px;
    /*border-radius: 5px;*/
    position: absolute;
    background-color: white;
    right: 0%;
    top: -60px;
    opacity: 0.96;
    z-index: 10;
    /*border: 1px solid #00CEe9;*/
    font-size: 1.2em;

    border: 3px solid transparent;
    -moz-border-image: -moz-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
	  -webkit-border-image: -webkit-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
	  border-image: linear-gradient(to bottom right, #3acfd5 0%, #3a4ed5 100%);

	  border-image-slice: 1;
  }


 .beer-div-toggle {
   /*background-color: #EAF2F8;*/
   border: 3px solid white;
 }

 .beer-title {
   margin-bottom: 0px;
 }

 .beer-name-title:before {
    height: 2px;
 }

.beer-details-p {
  font-size: 20px;
  margin: 10px 0px 0px 0px;
}

button.refresh-button {
  margin-bottom: 50px;
  font-size: 1.6em;
  height: 80px;
}

p.over-beer-div {
  margin-bottom: 0px;
  font-size: 1.2em;
}

span.down-arrow {
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(70,197,235,1);
    background: -moz-linear-gradient(-45deg, rgba(0,200,255,1) 0%, rgba(0,255,157,0.45) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,200,255,1)), color-stop(100%, rgba(0,255,157,0.45)));
    background: -webkit-linear-gradient(-45deg, rgba(0,200,255,1) 0%, rgba(0,255,157,0.45) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,200,255,1) 0%, rgba(0,255,157,0.45) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,200,255,1) 0%, rgba(0,255,157,0.45) 100%);
    background: linear-gradient(135deg, rgba(0,200,255,1) 0%, rgba(0,255,157,0.45) 100%);

    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

input#solution {
  border: 2px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
  border-image: linear-gradient(to bottom right, #3acfd5 0%, #3a4ed5 100%);

  border-image-slice: 1;
}
