<h1 class="title"><a class="title-link">Register.</a></h1>
<h5>Please fill in your information below.</h5>
<form class="registration-form" action="/users" method="post">
  <div class="row four columns">
    <label for="username">Username</label>
    <input class="register-input-username" type="text" name="username" placeholder=""><br>
  </div>
  <div class="row four columns">
    <label for="email">Email</label>
    <input type="email" name="email" placeholder=""><br>
  </div>
  <div class="row four columns">
    <label for="password">Password</label>
    <input type="password" class="u-full-width" name="password" placeholder=""><br>
  </div>
  <div class="row u-full-width">
    <input class="u-full-width button-primary" id="register-button" type="submit" value="Register">
  </div>
</form>
