<footer>
  <ul class="site-footer-links float-right">
    <li><a href="https://developer.github.com">APIs</a></li>
      <li><a href="https://github.com/blog">Github</a></li>
      <li><a href="https://github.com/blog">Contact</a></li>
      <li><a href="/beers" data-ga-click="Footer, go to about, text:about">About</a></li>
  </ul <br>
</footer>
