<footer>
  <ul class="site-footer-links float-right">
    <li><a href="https://github.com/aunyks/newton-api">Newton</a></li>
      <li><a href="https://www.desmos.com/api/v0.9/docs/index.html">Desmos</a></li>
      <li><a href="http://www.brewerydb.com/developers">BreweryDB</a></li>
  </ul <br>
</footer>
