<nav id="nav">
  <button id="github-button" type="button" name="home">Home</button>

  <button id="github-button" type="button" name="home">Tweet this</button>

  <button id="github-button" type="button" name="button">Source on Github</button>
</nav>
