<nav id="nav">
  <button type="button" name="button" class="nav-buttons"><a class="header-links" href="/sessions/new">Log In</a></button>
  <button type="button" name="button" class="nav-buttons"><a class="header-links" href="/users/new">Register</a></button>
</nav>
