<h1 class="title"><a class="title-link" href="/">Drink and Derive.</a></h1>
<h5 class="tagline">Type an expression. Choose an operation. Get a beer.</h5>
<form id="calculation-form" action="/calculations" method="post">
  <div class="row">
    <div class="eight columns">
      <label for="expression">Expression</label>
      <input class="u-full-width" id="expression" type="text" name="expression" placeholder="Example: 3x + 1">
    </div>
    <div class="four columns">
      <label for="operation">Operation</label>
      <select class="u-full-width" name="operation" placeholder=" - Select -">
        <option class="not_chosen" value="">-- select --</option>
        <option value="simplify">Simplify</option>
        <option value="factor">Factor</option>
        <option value="derive">Derive</option>
        <option value="integrate">Integrate</option>
      </select>
    </div>
  </div>
  <div class="row">
    <input id="solve" class="button button-primary u-full-width btn" type="submit" value="Beer Me">
  </div>
</form>
<br>
<div id="calculator" class="twelve columns" ></div>
<%= erb :'/calculators/_show', layout: false, locals: { result: @result } %>
